[submodule "subject/be-sprint-calculator"]
	path = subject/be-sprint-calculator
	url = git@github.com:hipopotamus/be-sprint-calculator.git
[submodule "subject/be-sprint-stringify-json"]
	path = subject/be-sprint-stringify-json
	url = git@github.com:hipopotamus/be-sprint-stringify-json.git
[submodule "pair/Section1/be-simple-git-workflow"]
	path = pair/Section1/be-simple-git-workflow
	url = git@github.com:hipopotamus/be-simple-git-workflow.git
[submodule "pair/Section3/be-homework-controller"]
	path = pair/Section3/be-homework-controller
	url = git@github.com:hipopotamus/be-homework-controller.git
[submodule "pair/Section3/be-homework-dto"]
	path = pair/Section3/be-homework-dto
	url = git@github.com:hipopotamus/be-homework-dto.git
[submodule "pair/Section3/be-homework-mapper"]
	path = pair/Section3/be-homework-mapper
	url = git@github.com:hipopotamus/be-homework-mapper.git
[submodule "pair/Section3/be-homework-exception"]
	path = pair/Section3/be-homework-exception
	url = git@github.com:hipopotamus/be-homework-exception.git
[submodule "pair/Section3/be-homework-jdbc"]
	path = pair/Section3/be-homework-jdbc
	url = git@github.com:hipopotamus/be-homework-jdbc.git
[submodule "pair/Section3/be-homework-jpa"]
	path = pair/Serction3/be-homwork-jpa
	url = git@github.com:hipopotamus/be-homework-jpa.git 
[submodule "pair/Section3/be-homework-tx"]
	path = pair/Section3/be-homework-tx
	url = git@github.com:hipopotamus/be-homework-tx.git
[submodule "pair/Section3/be-homework-testing-slice"]
	path = pair/Section3/be-homework-testing-slice
	url = git@github.com:hipopotamus/be-homework-testing-slice.git
